<nav class="navbar navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="{{ path('si_core_homepage') }}" class="navbar-brand"><b>Sanya</b> Industries</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fichier <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('si_core_product') }}">Catalogue de produits</a></li>
                        <li><a href="{{ path('si_core_stockin') }}">Stocks In</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventes <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('si_core_quotation') }}">Devis clients</a></li>
                        <li><a href="{{ path('si_core_invoice') }}">Factures de ventes</a></li>
                        <li><a href="#">Avoirs sur ventes</a></li>
                        <li><a href="#">Autres recettes</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achats <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Factures d'achats</a></li>
                        <li><a href="#">Avoirs sur achats</a></li>
                        <li><a href="#">Autres depenses</a></li>

                    </ul>
                </li>
                <li><a href="#">Tresorerie</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('si_core_customers') }}">Clients</a></li>
                        <li><a href="{{ path('si_core_suppliers') }}">Fournisseur</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autres Options <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Etats</a></li>
                        <li><a href="#">Exports</a></li>
                        <li><a href="#">Journaux</a></li>

                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Recherchez">
                </div>
            </form>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="iconized settings item_5"><a href="{{ path('si_core_setting') }}" aria-haspopup="true" class="UILink" data-tooltip="Paramètres" data-ui-widget="UILink"><i class="fa fa-gear"></i></a></li>

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('admin/images/logo.jpg') }}" width="19px" height="19" class="img-circle" alt="User Image" />
                                <span class="hidden-xs">{{  app.user.firstname }} {{  app.user.lastname }} </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="{{ asset('admin/images/logo.jpg') }}" class="img-circle" alt="User Image" />
                                    <p>
                                        {{  app.user.firstname }} {{  app.user.lastname }}

                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Deconnexion</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>